* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header part */

.banner {
    width: 1320px;
    height: 600px;
    background: url('../images/darkshadow.jpg'), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 5px;
    margin-top: 30px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.banner h4 {
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner h2 {

    width: 630px;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    align-self: center;
    padding: 15px;
}

/* Main part */
main {
    width: 1320px;
    height: auto;
    margin: auto;
}

/* Discount Offer */

.discount_offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    text-align: center;
}

.discount_offer h1 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount_offer p {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount_offer h3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* Mid night party */
.night_party {
    margin-top: 120px;
    text-align: left;
    width: 100%;
    background: url('../images/midnight\ shadow.png'), url('../images/2024.png') right 130px center, url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 126px 497px 142px 126px;
}

.night_party h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding: 5px 0px;
    margin-bottom: 24px;
}

.night_party p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.night_party button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    border: none;
    margin: 48px 0px 0px 36px;
    cursor: pointer;
}

/* event location */

.event_location {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 120px 0px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

}

.event_location>.info {
    margin-top: 100px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.event_location>.info>p>span {
    color: #F00;
}

.event_location>button {
    margin: 48px 0px 110px 0px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border: none;
    position: relative;
    box-shadow: 1px 5px 50px -1px rgba(0, 0, 0, 0.521);
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.event_location>button:after {
    content: '»';
    position: absolute;
    bottom: 15px;
    opacity: 0;
    right: -20px;
    font-size: 25px;
}

.event_location>button:hover {
    padding: 16px 45px 16px 32px;
}

.event_location>button:hover:after {
    right: 15px;
    opacity: 1;
}

/* New Year offers */

.newyear_offer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}

.newyear_offer>.left_section {
    width: 390px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 0px;

}

.newyear_offer>.left_section>h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.newyear_offer>.left_section>h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 16px 0px 22px 0px;
}

.newyear_offer>.left_section>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.newyear_offer>.mid_section {
    width: 463px;
    height: 463px;
    border: 15px solid #F00;
    border-radius: 50%;
    padding: 36px;
}

.newyear_offer>.right_section {
    width: 276px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-right: 0;
}

.newyear_offer>.right_section>h3 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}

.newyear_offer>.right_section>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 16px 0px 22px 0px;
}

/* Holydays sales */

.holiday_sale {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.holiday_sale>h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday_sale>h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 16px 0 28px 0;
}

.holiday_sale>h1>span {
    color: #F00;
}

.holiday_sale>p {
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.bg_discount {
    margin: 64px 0 120px 0;
    width: 100%;
    height: 662px;
    position: relative;
    border-radius: 15px;
}

.bg_discount img {
    position: absolute;

}

.red_bar {
    bottom: 0;
}

.box {
    z-index: 1;
    border-radius: 15px 0 0 15px;
}

.discount {
    top: 77px;
    right: 276px;
    z-index: 1;
}

.girls {
    right: 0;
}

/* Portfolio */
.portfolio {
    width: 100%;
    margin-bottom: 120px;
}

.portfolio>h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio>h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;

}

.portfolio>p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.img_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 48px 0 120px 0;
}

.img_box {
    width: 424px;
    height: 450px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 16px;
}

.img_box>img {
    transform: scale(1);
    transition: all 200ms ease-in-out;
}

.img_box:hover>img {
    transform: scale(1.5);
    opacity: 0.7;
}

/* Subscribe part */
.subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 120px;
    background-color: rgba(1, 16, 19, 0.103);
    box-shadow: 5px 10px 5px -5px rgba(0, 0, 0, 0.521);
}

.subscribe>img {
    margin-top: 60px;
}

.subscribe>h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin: 10px 0 10px 0;
}

.subscribe>p {
    text-align: center;
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
}

.subscribe>.sub_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 100px 0;
    border: none;
}

.subscribe>.sub_form>input[type="email"] {
    width: 400px;
    padding: 20px;
    border-radius: 25px 0 0 25px;
    border: none;
    font-family: Inter;
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    transition: all 200ms ease-in-out;
}

.subscribe>.sub_form>input[type="email"]:focus {
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    font-size: 18px;
    width: 450px;
}

.subscribe>.sub_form>input[type="submit"] {
    font-family: Inter;
    font-size: 15px;
    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 0 25px 25px 0;
    background: #F00;
    color: white;
    cursor: pointer;
}

/* footer part */

footer {
    width: 100%;
    background: #070211;
    color: #FFF;
}

.footer_container {
    display: flex;
    flex-direction: column;
    width: 1320px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.f_location {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 120px 0 50px 0;
}

.f_location>p {
    width: 375px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.f_location>.contac {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-right: 135px;
}

.f_location>.contac>a {
    color: #FFF;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.f_location>.contac>a img {
    width: 24px;
    height: 24px;
}

.f_icon {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 48px 0;
}

.f_icon>a {
    text-decoration: none;
    cursor: pointer;
}

.f_last_para {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 120px 0;
}

.f_last_para>p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.f_last_para>p:nth-child(1)>span {
    color: rgb(34, 176, 201);
}

.f_last_para>p:nth-child(2) {
    cursor: pointer;
    color: #F00;
    text-transform: capitalize;
}